@import url(resources/fonts/proxima-nova/regular/styles.css);
@import url(resources/fonts/orpheus-pro/bold/style.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: ProximaNova-Regular, 'Lato', sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

h1{
  margin: 0px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  position: absolute;
  top: 3%;
  left: 2%;
  height: 40px;
  text-align: center;
  font-family: OrpheusPro-Bold, Linden Hill, serif;
  font-size: 24px;
}

.mobile #titleBar {
  height: 50px;
    
}

body.multiple-scenes.mobile #titleBar {
  left: 40px;
}

#titleBar .sceneName {
  width: 125%;
  height: 125%;
  line-height: 45px;
  padding: 5px;
  background-color: #013A20;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: OrpheusPro-Bold, Linden Hill, serif;
  font-size: 24px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  box-shadow: 4px 4px rgba(0,0,0,.7);
}

.mobile #titleBar .sceneName {
  line-height: 235%;
}

/* Link hotspot */
.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */
  font-size: 20px;

  margin-left: 3px;

  max-width: 300px;

  padding: 8px 10px;

  border-radius: 5px;

  background-color: rgba(99, 161, 95,0.9);

  color: #fff;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px; /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */
.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #63A15F;
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s,
                      border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s,
              border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot .info-hotspot-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper {
  position: absolute;
  left: 260px;
  top: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  background-color: rgb(78,88,104);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0.6s;
}

.info-hotspot .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-text {
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 200px;
  top: 40px;
  left: 0;
  padding: 10px;
  background-color: rgb(58,68,84);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Info hotspot modal */
.desktop .info-hotspot-modal {
  display: none;
}

.info-hotspot-modal {
  top: 0;
  right: 0;
  position: absolute;
  width: 25%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0,0,0,0);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s,
                      visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s,
              visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out,
                      visibility 0s 0s;
  transition: opacity 0.2s ease-in-out,
              visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 50px;
  background-color: #1E1514;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
  font-family: OrpheusPro-Bold, Linden Hill, serif;
  font-size: 24px;
  text-align: center;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot-modal .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #3F3937;
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(245, 246, 240,0.95);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  overflow-x: hidden;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

/*Map, Location, and About Button*/
.box {
  width: 50%;
  margin: 0 auto;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 0px;
  transition: all 250ms ease-in-out;
  position:relative;
  width: 40%;
  height: 86%;
  top: 6.5%;
  left: 30%;
}
.popup h2 {
  margin-top: 0;
  color: #fff;
}
.popup .close {
  position: relative;
  top: 0px;
  right: -100%;
  transition: all 200ms;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #999;
}
.popup .content {
  height: inherit;
  overflow: hidden;
}

.locationButton{
  font-size: 20px;
  width: 2.75%;
  font-family: ProximaNova-Regular, 'Lato', sans-serif;
  padding: 10px;
  padding-bottom: 8px;
  color: #fff;
  background: #3F3937;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 2%;
  bottom: 3%;
  box-shadow: 4px 4px rgba(0,0,0,.7);
}.locationButton:hover{
  background: #000;
}

.aboutButton{
  font-size: 20px;
  width: 2.75%;
  font-family: ProximaNova-Regular, 'Lato', sans-serif;
  padding: 10px;
  padding-bottom: 8px;
  color: #fff;
  background: #5C6C6D;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 6.75%;
  bottom: 3%;
  box-shadow: 4px 4px rgba(0,0,0,.7);
}.aboutButton:hover{
  background: #000;
}

.button {
  font-size: 20px;
  font-family: ProximaNova-Regular, 'Lato', sans-serif;
  padding: 10px;
  width: 2.75%;
  padding-bottom: 8px;
  color: #fff;
  background: #9A9B68;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 11.5%;
  bottom: 3%;
  box-shadow: 4px 4px rgba(0,0,0,.7);
  display: inline-block;
}
.button:hover {
  background: #000;
}

.intro{
  display: visible;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-image: url(resources/imgs/church.webp);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.tourButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #013A20;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: fixed;
  left: 45%;
  bottom: 20%;
}.tourButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}.tourButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}.tourButton:hover span {
  padding-right: 25px;
}.tourButton:hover span:after {
  opacity: 1;
  right: 0;
}

.tourTitle{
  font-family: OrpheusPro-Bold, Linden Hill, serif;
  font-size: 64px;
  position: relative;
  top: 15%;
  text-align: center;
  text-shadow: 4px 4px rgba(0,0,0,.9);
}

.tourSubtext{
  font-family: OrpheusPro-Bold, Linden Hill, serif;
  font-size: 32px;
  position: relative;
  top: 15%;
  text-align: center;
  text-shadow: 4px 4px rgba(0,0,0,.9);
}

iframe,img,object {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0,0,0,0.9);
}

.button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.aboutButton:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.locationButton:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .65}
  to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.9);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  font-family: ProximaNova-Regular, 'Lato', sans-serif;
}

/* Caption text */
.captiontext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  font-family: ProximaNova-Regular, 'Lato', sans-serif;
}

ul.a{
  color: #000;
  list-style-type: square;
  position: relative;
  top: 4%;
  left: 8%;
  font-size: 20px;
  line-height: 149%;
  padding-bottom: 3%;
}

li{
  padding-top: 1.5%;
  padding-right: 14%;
}

li:not(:last-of-type) {
  padding-bottom: 1.5%;
}

figure{
  color: #000;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}
audio {
  width: 40%;
}

.mySlides{
  display: none;
}

.w3-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.w3-display-container{
  position:relative;
}
.w3-display-container:hover span.w3-display-hover{
  display:inline-block;
}

.loader {
  height: 50px;
  transform-origin: center;
  position: absolute;
  top: 45%;
  left: calc(50% - 75px);
}

.circle {
  display: inline-block;
  background-color: black;
  border: 5px dotted white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}

.main {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.scriptCap{
  line-height: 10px;
  font-size: 18px;
  padding-bottom: 5px;
}
.scriptCap:hover{
  color: #63A15F;
  text-decoration: underline;
}
